.commands {
    margin-top: 300px;
    width: 50%;
    float: left;
}
.commands .command-label {
    width: 100px;
    text-align: center;
    display: inline-block;
}
.commands .skeletons-container {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
}
.commands .skeleton {
    width: 50px;
    padding-bottom: 0px;
    transition: padding 0.2s linear;
}
.commands .skeleton.active {
    padding-bottom: 20px;
    transition: padding 0.2s linear;
}
.commands .tapes-container {
    margin-top: 50px;
    display: block;
}
